<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @wiki.subject %>
</p>

<p>
  <strong>User:</strong>

</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
